:root {
    --text-color: #000;
    --background-color: #fff;
    --motive-color: #2ead3d;
    --motive-color-2: #308f3c;
}
::selection { background-color: var(--motive-color); color: #fff; }
html { scroll-behavior: smooth; }
body {  background-color: var(--background-color); color: var(--text-color); margin: 0; padding: 0; }
.navBar { height: 100px; font-size: 70px; font-family: 'Oswald', sans-serif; background-color: var(--background-color); color: var(--text-color); z-index: 10; margin: 0; padding: 0; -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1); -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1); box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1); }
.navBar a { color: var(--text-color); text-decoration: none; transition-duration: .25s;}
.navBar a:hover { color: var(--motive-color); text-decoration: none;}
.navBarLogoText { position: absolute; left: 73px; top: -7px; }
.navBarLogo img { height: 66px; }
.navBarElements { font-size: 60px; position: relative; width: 100%; bottom: 100px; left: 46%; }
@media (min-width: 2020px) { .navBarElements { left: 59%; } }
@media (min-width: 1900px) { .navBarElements { left: 56%; } }
@media (max-width: 1740px) { .navBarElements { left: 50%; } }
@media (max-width: 1690px) { .navBarElements { left: 48%; } }
@media (max-width: 1640px) { .navBarElements { left: 46%; } }
@media (max-width: 1490px) { .navBarElements { left: 44%; } }
@media (max-width: 1440px) { .navBarElements { left: 42%; } }
@media (max-width: 1390px) { .navBarElements { left: 40%; } }
@media (max-width: 1340px) { .navBarElements { left: 38%; } }
@media (max-width: 1290px) { .navBarElements { left: 36%; } }
@media (max-width: 1240px) { .navBarElements { left: 34%; } }
@media (max-width: 1190px) { .navBarElements { left: 32%; } }
@media (max-width: 1140px) { .navBarElements { left: 30%; } }
@media (max-width: 1090px) { .navBarElements { left: 28%; } }
@media (max-width: 1040px) { .navBarElements { left: 26%; } }
@media (max-width: 1020px) { .navBarElements { display: none; } }
header h1 { font-family: 'Mochiy Pop P One', sans-serif; }
.headerElements, .headerTitle { width: 100%; }
.headerElements { height: 100%; background-color: var(--motive-color); transition-duration: .25s; }
.headerElements:hover { background-color: var(--motive-color-2); }
.headerTitle { text-align: center; }
.headerLearnMoreButton, .headerStartLearnButton { width: 130px; height: 45px; color: var(--motive-color); background-color: #fff; text-decoration: none; border: 2px solid var(--motive-color); transition-duration: .25s; }
.headerLearnMoreButton a, .headerStartLearnButton a { width: 130px; height: 45px; text-align: center; color: var(--motive-color); transition-duration: .25s; }
.headerLearnMoreButton a:hover, .headerStartLearnButton a:hover { color: var(--background-color); }
.headerLearnMoreButton a:visited, .headerStartLearnButton a:visited { color: var(--background-color); text-decoration: none; }
.headerLearnMoreButton:hover, .headerStartLearnButton:hover { color: var(--background-color); background-color: var(--motive-color);}
.headerButton1, .headerButton2 { font-family: 'Mochiy Pop P One', sans-serif; }
footer { background-color: var(--text-color); color: var(--background-color); text-align: center; font-family: 'Mochiy Pop P One', sans-serif; cursor: pointer;}
.footerButton { background-color: var(--motive-color); width: 110px; height: 25px; border-radius: 30px; position: relative; left: 90%; top: -22px; transition-duration: .25s;}
.footerButton:hover { color: var(--text-color); }
.footerSpace { height: 10px; }