:root {
    --black: #fff;
    --white: #000;
}
::selection {color: red;}
* {
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    color: black;
}
.navBar {
    width: 100%;
    height: 10%;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
    -moz-box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
    box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
