@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500;900&display=swap');
:root {
    --black: #fff;
    --white: #000;
}
::selection {color: red;}
* {
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Dongle', sans-serif;
    background-color: #fff;
    color: black;
}
.navBar {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
    z-index: 100;
	padding: 0;
	margin: 0;
	list-style-type: none;
    width: 100%;
    height: 10%;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
    -moz-box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
    box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
}
.navbar ul {display: inline-block;}
.navbar ul a {display: block;}
.navBar li {
	line-height: 200%;
    list-style: none;
}
.sticky {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}


header.headerElementsText {
    display: flex;
    z-index: 50;
    color: #fff;
    position: fixed;
    right: 50px;
    top: 50%;
}
header img.headerBack {
	position: absolute;
    z-index: 1;
    width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
    font-family: 'Outfit', sans-serif;
}