@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500;900&display=swap');
:root {
    --black: #fff;
    --white: #000;
}
::selection {color: red;}
* {
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    overflow-y: hidden;
    font-family: 'Dongle', sans-serif;
    background-color: #fff;
    color: black;
}
.navBar {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
    z-index: 100;
	padding: 0;
	margin: 0;
	list-style-type: none;
    width: 100%;
    height: 10%;
    display: inline-block;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: -1px 0px 16px 0px rgb(26, 9, 9);
    -moz-box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
    box-shadow: -1px 0px 16px 0px rgba(18, 18, 18, 1);
}
.navBarLogo {
    font-size: 8%;
    right: 20px;
}
.navBarElements {
    position: relative;
    right: 80%;
}
.navbar ul {display: inline-block;}
.navbar ul a {display: block;}
.navBar li {
	line-height: 200%;
    list-style: none;
}
.sticky {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}



header.headerBackImg {
    position: absolute;
    width: 100%;
    z-index: 0;
}
header img.headerBack {width: 100%;}
header h1,h2 {
    z-index: 2;
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
    left: 30%;
    top: 102px;
}

footer {
    background-color: #000;
    color: #fff;
    font-family: 'Outfit', sans-serif;
}